<div class="row">
  <div class="col text-left">
    <h1><%= @grocery_line_item.name%></h1>
    <p>Added on: <%=  @grocery_line_item.created_at.strftime("%d/%m/%Y") %></p>
    <p> Quantity: <%= @grocery_line_item.quantity%></p>
  </div>
</div>
<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
     $('.carousel').carousel({
        interval: 2000
     });
  });
</script>
