<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New food_inventory has been created!</p>
    <p>
      Details<br>
      --------------------------
    </p>
    <p>Name: <%= @food_inventory.name %></p>
  </body>
</html>
